{% extends 'base.html' %}
<!-- ////////////////////////////////////////////////// -->
{% block content %}
    <br>
    
    <h1 class="display-3">Lista de servicios</h1>


    <table class="table">
        <thead class="thead-light">
            <tr>
            <th>ID</th>
            <th>Nombre Servicio</th>
            <th>Valor Servicio</th>
            <th>Descripcion Servicio</th>
            <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for s in servicios %}
            <tr>
            <td>{{ s.id}}</td>
            <td>{{ s.nombre_servicio}}</td>
            <td>{{ s.valor_servicio}}</td>
            <td>{{ s.descripcion_servicio}}</td>
            <td>
                <a href="/editar_carrera/{{ c.id }}"> Editar</a>
                <a href="/borrar_carrera/{{ c.id }}"
                onclick="return confirm('¿Esta seguro de borrar?');"> Borrar</a>
            </td>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
<!-- ////////////////////////////////////////////////// -->