{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ReciclandoFuturo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- IMPORTACIONES PRINCIPALES -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    {% block head %}
    {% endblock head %} 


    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i/Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Iconos -->
    <link
      href="https://unpkg.com/ionicons@4.5.9-1/dist/css/ionicons.min.css"
      rel="stylesheet"
    />

    <!-- JQuery + Jquery validate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

    <!--Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="container-fluid">
      <nav id="cont-nav-color" class="navbar navbar-expand-lg col-sm-12">
          <a class="navbar-brand" href="{% url 'gestion_usuario:index' %}" style="color:black">
            <small>ReciclandoFuturo </small><img src="{% static 'img/recycle-sign.png' %}" alt="" class="logo" />
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegadorContenido"
            aria-controls="navegadorContenido" aria-expanded="false" aria-label="Navegacion">
            <i class="icon ion-md-menu text-dark"></i>
          </button>

          <div class="collapse navbar-collapse" id="navegadorContenido">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-2">
                <a class="nav-link" href="{% url 'gestion_usuario:principal' %}">Inicio</a>
              </li>
              {% if not request.user.is_authenticated %}
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item mx-1">
                  <a class="nav-link" href="{% url 'gestion_usuario:login' %}">Iniciar_sesión</a>
                </li>
                <li class="nav-item mx-1">
                  <a class="nav-link" href="{% url 'gestion_usuario:registrar' %}">Registrate</a>
                </li>
              {% else %}
                <li class="nav-item mx-1">
                  <a class="nav-link"  href="#">Plan</a>
                </li>
                <li class="nav-item mx-1">
                  <a class="nav-link" href="#">Mensajes</a>
                </li>
                <li class="nav-item mx-1">
                  <a class="nav-link" href="{% url 'gestion_usuario:logout' %}">Cerrar_sesión</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        {% endblock content%}
    </div>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-info">
              <h4>ReciclandoFuturo</h4>
              <p>Somos especialistas en reciclaje, facilitamos y aseguramos la entrega directa de residuos en empresas
                recuperadoras.</p>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Links de interés</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Inicio</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#about">¿Quienes somos?</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="servicios.html">Servicios</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contáctanos</h4>
              <p>
                Avenida Condell 1589 <br>
                Ñuñoa, Santiago<br>
                Chile <br>
                <strong>Teléfono:</strong> +56 258 5548 67<br>
                <strong>Email:</strong> contacto@reciclandofuturo.cl<br>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </footer>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

  </body>